<h2>Show Restaurant</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @restaurant.location %>
  </li>


  <li>
    <strong>Website:</strong>
    <a href="<%= @restaurant.website %>" target="_blank"><%= @restaurant.website %></a>
  </li>

</ul>

<span><%= link "Edit", to: restaurant_path(@conn, :edit, @restaurant) %></span>
<span><%= link "Back", to: restaurant_path(@conn, :index) %></span>
