<div class="jumbotron">
  <%# <h2><%= gettext "Welcome to %{name}!", name: "What's for lunch!"</h2> %>
  <h2>Welcome to What's for Lunch!</h2>
  <p class="lead">A productive app<br />that keeps you satiated</p>
</div>
<div>
  <span class="pull-left"><%= link "What's for lunch?", to: page_path(@conn, :random) %></span>
  <span class="pull-right"><%= link "Can you give me a few options?", to: page_path(@conn, :random_selection) %></span>
</div>