<div class="jumbotron">
  <h2><%= @restaurant.name %></h2>
  <p><%= @restaurant.location %></p>
  <%= if @restaurant.website do %>
  <a href="<%= @restaurant.website %>" target="_blank"><%= @restaurant.website %></a>
  <% end %>

</div>
<span><%= link "Back", to: page_path(@conn, :index) %></span>